{% comment %}
SHOP BAGS
{% endcomment %}

{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.css' | asset_url | stylesheet_tag }}


<!---------------------------------------
Hero
----------------------------------------->
  <div class="grid-container">
    
    <div class="grid-x pcp-hero">
      
      <div class="pcp-hero-content">
        
        <div class="loop-content">
          <h1>&quot;A perfect combo of suitcase + backpack!&quot;</h1>
          <h4>@marcsmindset</h4>
        </div>
        
        <div class="loop-content">
          <h1>&quot;If you’re looking for a bag to replace all bags...this is it.&quot;</h1>
          <h4>@stayfoxx</h4>
        </div>
        
        <div class="loop-content">
          <h1>&quot;The classiest and most versatile bag I have ever owned.&quot;</h1>
          <h4>@blackcavii</h4>
        </div>
        
        <div class="loop-content">
          <h1>&quot;The ultimate bag for personal + business travel.&quot;</h1>
          <h4>@nahasahnoune</h4>
        </div>
        
      </div>
      
      <div class="cell medium-6 small-12">
        <div class="show-for-medium">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/hero-pcp-lft-desktop.jpg?16403">
        </div>
        <div class="show-for-small-only">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/hero-pcp-lft-mobile.jpg?17673">
        </div>
      </div>
      
      <div class="cell medium-6 small-12">
        <div class="show-for-medium">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/hero-pcp-rt-desktop.jpg?16403">
        </div>
        <div class="show-for-small-only">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/hero-pcp-rt-mobile.jpg?17685">
        </div>
      </div>
      
    </div>
    
  </div>

<div class="page-width"> 
  <h1 class="pcp-header">Shop The Knack Collection</h1>
  
  <!--{% section 'knack-bags-slideshow' %}-->
<div class="prodHori" style="margin-top: 0; padding-top:0;">
  
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-6 small-12">
		{% section 'knack-bags-product' %}
      </div>
      <div class="cell medium-6 small-12">
		{% section 'knack-bags-product-large' %}
      </div>
      <div class="cell medium-6 small-12">
        {% section 'knack-bags-product-small' %}
      </div>
      <div class="cell medium-6 small-12 align-self-middle">
        {% section 'knack-bags-brand-statement' %}
      </div>
    </div>
  </div>
   
  <div class="grid-container" >
    <div class="collapsibles-wrapper chart-container">
      <div class="grid-container">
        <div class="grid-x">
          <div class="small-12 medium-offset-2 medium-8">
            <!--<h2>Comparison Chart</h2>-->
            <div class="img-bag-outline">
              <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bags-outline.png?6149" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bags-outline_2x_a9e28bb0-b261-483c-807d-9205b362debc.png?6151 2x">
            </div>
            <p class="lead">We want your bag to work for you. That’s why we created our Knack Packs in a few sizes. While each size bag shares many of the same great features, there are a few differences between them which we outline below.</p>
            <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="comparison-size-chart" aria-expanded="true">
              See how they compare
              <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div id="comparison-size-chart" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner">

          <!-- Comparison Chart Table -->
          <div class="grid-container">
            <div class="grid-x">
              <div class="small-12 medium-offset-2 medium-8">
                <div class="comparison-chart-table">
                  <table>
                    <caption>Packing Dimensions</caption>

                    <thead>
                      <tr>
                        <th width="50%">Medium</th>
                        <th width="50%">Large</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td colspan="2" class="no-border">Unexpanded</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/medium-expandable-knackpack"><img alt="Medium Knack Backpack Unexpanded 17 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp_2x_2228e334-75d0-4a2a-b6b8-b596f45d6a1f.png?7521 2x"></a>
                          </div>
                          17 Liters
                        </td>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/large-expandable-knackpack"><img alt="Large Knack Backpack Unexpanded 22 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp_2x_45cd2cca-d9a5-4880-ba83-cac98d5c28d8.png?7521 2x"></a>
                          </div>
                          22 Liters
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="no-border">Expanded</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/medium-expandable-knackpack"><img alt="Medium Knack Backpack Expanded 31 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp-exp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-med-bp-exp_2x_b0f0444f-5467-4f8b-8854-56f83b40ff1f.png?7521 2x"></a>
                          </div>
                          17 L + 14 L = 31 Liters
                        </td>
                        <td style="vertical-align:bottom;">
                          <div class="bag-dimensions-img">
                            <a href="/products/large-expandable-knackpack"><img alt="Large Knack Backpack Expanded 37 Liters" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp-exp.png?7521" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/cc-lrg-bp-exp_2x_441315cf-dde6-440d-aec6-5ad37acf395d.png?7521 2x"></a>
                          </div>
                          22 L + 15 L = 37 Liters
                        </td>
                      </tr>
                    </tbody>

                  </table>
                </div>
                <div class="comparison-chart-table">
                  <table class="additional-specs">
                    <caption>Additional Specs</caption>

                    <thead>
                      <tr>
                        <th width="50%">Medium</th>
                        <th width="50%">Large</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Weight Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-weight.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-weight_2x_227b0821-6701-43cc-a4ef-c45db6e26b37.png?3252 2x">
                          </div>
                          <span>
                            Weight
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          2 lb 11 oz
                        </td>
                        <td>
                          3 lb 4 oz
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Laptop Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-laptop.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-laptop_2x_1910f677-0ced-4505-bca0-254730edd412.png?3252 2x">
                          </div>
                          <span>
                            Laptop
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          15"
                        </td>
                        <td>
                          17"
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Plane Overhead Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-overhead.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-overhead_2x_f7f4d4bd-bc76-4676-aa22-e3d8d91f2888.png?3252 2x">
                          </div>
                          <span>
                            Overhead
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          All Jets
                        </td>
                        <td>
                          All Jets
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Plane Under Seat Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-underseat.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-underseat_2x_ee65d8b9-a29c-40e0-b03f-3ca3581fd524.png?3252 2x">
                          </div>
                          <span>
                            Under Seat
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          All Jets
                        </td>
                        <td>
                          Doesn't fit (when expanded)
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Outfits Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-outfit.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-outfit_2x_68496d1c-cf05-4e28-ba53-560f6c8dc7bb.png?3252 2x">
                          </div>
                          <span>
                            Outfits
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          2-3
                        </td>
                        <td>
                          3-4
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Water Bottle Pocket Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-bottle.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-bottle_2x_bbe507c5-88e1-46f9-8fdd-021cec432aeb.png?3252 2x">
                          </div>
                          <span>
                            Water Bottle Pocket
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          17 oz S'well&trade;
                        </td>
                        <td>
                          25 oz S'well&trade;
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="no-border">
                          <div class="cc-icon">
                            <img alt="Tuck-Away Hip Strap Icon" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-strap.png?3252" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-strap_2x_13c745ee-7574-435d-8ab0-f4134186caf6.png?3252 2x"> 
                          </div>
                          <span>
                            Tuck-Away Hip Strap
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          No
                        </td>
                        <td>
                          Yes
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-container">

            <div class="size-chart">
              <h2 class="text-center">Size Chart</h2>

              <div class="text-center">
                
                <div class="grid-x">
                  <div class="cell medium-12">
                    <h4>Model: 5'5"</h4>
                    {{ 'size_5.5.png' | asset_url | img_tag: 'Knack Backpacks on 5 foot 5 inch model'}}        
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Medium</p>
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Large</p>
                  </div>      
                </div>
                <div class="grid-x">
                  <div class="cell medium-12">
                    <h4>Model: 5'11"</h4>
                    {{ 'size_5.11.png' | asset_url | img_tag: 'Knack Backpacks on 5 foot 11 inch model'}}        
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Medium</p>
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Large</p>
                  </div>      
                </div>
                <div class="grid-x">
                  <div class="cell medium-12">
                    <h4>Model: 6'3"</h4>
                    {{ 'size_6.3.png' | asset_url | img_tag: 'Knack Backpacks on 6 foot 3 inch model'}}        
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Medium</p>
                  </div>
                  <div class="cell medium-6 small-6">
                    <p>Large</p>
                  </div>      
                </div>     
              </div>
              
            </div>
            
          </div>
          
        </div>
      </div>

    </div>	
  </div>
<!---------------------------------------
Lifestyle Qoutes
-----------------------------------------> 
  <div class="grid-container" >
    
    <div class="grid-x align-middle lifestyle-block">
      <div class="cell large-6 medium-12">
      	<div class="show-for-medium">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-iamduvier.jpg?19609">
        </div>
        <div class="show-for-small-only">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-iamduvier-mobile.jpg?19566">
        </div>
      </div>
      <div class="cell large-6 medium-12 quote">
        <p>&quot;Go, explore the unknown. Get lost, find your way back. It’ll change you and the way you experience life.&quot;</p>
        <cite>@_iamduvier</cite>
      </div>
    </div>
    
    <div class="grid-x align-middle lifestyle-block">
      <div class="cell large-6 medium-12">
      	<div class="show-for-medium">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-marcsmindset.jpg?19609">
        </div>
        <div class="show-for-small-only">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-marcsmindset-mobile.jpg?19566">
        </div>
      </div>
      <div class="cell large-6 medium-12 quote">
        <p>&quot;I travel a lot for business and love backpacks! This was a perfect combo of suitcase + backpack!&quot;</p>
        <cite>@marcsmindset</cite>
      </div>
    </div>
    
    <div class="grid-x align-middle lifestyle-block">
      <div class="cell large-6 medium-12">
        <div class="show-for-medium">
      		<img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-denissegarciatravels.jpg?19609">
        </div>
        <div class="show-for-small-only">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-denissegarciatravels-mobile.jpg?19566">
        </div>
      </div>
      <div class="cell large-6 medium-12 quote">
        <p>&quot;My favorite part is that it converts into a mini suitcase. This is now my go to bag for everything. It’s very versatile, perfect not only for travelers but for everyone.&quot;</p>
        <cite>@denissegarciatravels</cite>
      </div>
    </div>
    
    <div class="grid-x align-middle lifestyle-block">
      <div class="cell large-6 medium-12">
        <div class="show-for-medium">
      		<img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-mslauradoll.jpg?19609">
        </div>
        <div class="show-for-small-only">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/lifestyle-mslauradoll-mobile.jpg?19566">
        </div>
      </div>
      <div class="cell large-6 medium-12 quote">
        <p>&quot;I wanted a backpack that could fit all my outfits... something practical and easy to carry- aaaand my dreams came true!&quot;</p>
        <cite>@mslauradoll</cite>
      </div>
    </div>
    
  </div>
  
  <div class="grid-container">
    <h1 class="pcp-header">Everday Bag + Expandable Suitcase</h1>
    <div class="grid-x grid-margin-x align-middle">
      
      <div class="cell large-6 medium-12 pcp-gif-video">
        {% section 'knack-bags-hero-video' %}
      </div>
      
      <div class="cell large-6 medium-12">
        
         <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;Best Bag for a Business Traveler&quot;
          <br>- Matt G.</p>
        </div>
        
        <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;Perfect for my everyday&quot;
          <br>- Katherine B.</p>
        </div>
        <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;Innovation at its best.
&quot;
          <br>- Jonathan O..</p>
        </div>
        <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;Best Travel Backpack and SUPERB Customer Service&quot;
          <br>- Anjanette L.</p>
        </div>
        <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;Great overnight bag!&quot;
          <br>- Betsy S.</p>
        </div>
        <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;Amazing Product and Company&quot;
          <br>- Kyle G.</p>
        </div>
        <div class="loop-quotes text-center">
          <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote.png?17906" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/stars-quote_2x_60dfd30f-11c7-4bc4-933e-612f92f7f508.png?17906 2x">
          <p>&quot;A wonderfully designed backpack&quot;
          <br>- Dave G.</p>
        </div>
        
      </div>      
    </div>    
  </div>
  
  
  <div class="grid-container" id="expandableBlockContainer">
  <div class="expandableBlock">
    <h2>Laptop Backpack <br class="hide-for-large">+<br class="hide-for-large"> Hidden Carry-on <span class="hide-for-small-only hide-for-medium-only">=</span><div class="hide-for-large bdr-divider"></div> One Bag Life<sup>&trade;</sup></h2>
    <div class="grid-x  align-middle">
      <div class="cell large-auto">
        <div class="show-for-small hide-for-large">
        	<img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-1.2.jpg?41777" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-1.2_2x_3c796d41-ac19-46cb-802c-84b6841af48d.jpg?41777 2x">
        <p>Professional styling for the office</p>
      </div>

      <div class="cell large-auto">
        <div class="show-for-large">
        	<img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan.png?33564" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan_2x_21cd999d-20f1-47ac-9996-28631c5fe610.png?33564 2x">
        </div>
        <div class="show-for-small hide-for-large">
        	<img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
        </div>
      </div>

      <div class="cell large-auto">
        <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-2.2.jpg?41777" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-2.2_2x_7f8b4655-0a5c-4f4e-9017-4619a82eeb8d.jpg?41777 2x">
        <p>Slim &amp; lightweight for everyday use</p>
      </div>

      <div class="cell large-auto">
        <div class="show-for-large">
        	<img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan.png?33564" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan_2x_21cd999d-20f1-47ac-9996-28631c5fe610.png?33564 2x">
        </div>
        <div class="show-for-small hide-for-large">
        	<img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
        </div>
      </div>

      <div class="cell large-auto">
        <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-3.2.jpg?41777" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-3.2_2x_11bbc6c9-908b-431a-83b3-230fff8eb444.jpg?41777 2x">
        <p>Unzip &amp; expand for more space</p>
      </div>

      <div class="cell large-auto">
        <div class="show-for-large">
          <img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan.png?33564" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan_2x_21cd999d-20f1-47ac-9996-28631c5fe610.png?33564 2x">
        </div>
        <div class="show-for-small hide-for-large">
        	<img class="arrows" src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down.png?34215" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/icon-arrow-tan-down_2x_32aa94f5-1275-41ef-8e7b-d268eafa1fcf.png?34215 2x">
        </div>
      </div>

      <div class="cell large-auto">
        <img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-4.2.1.jpg?41795" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/bp-4.2.1_2x_7c72c0c7-b3f0-49c9-bd0b-e367cc049013.jpg?41795 2x">
        <p>Separate hidden section for travel</p>
      </div>

    </div>
  </div>
</div>
  
  
  <div class="grid-container">
    <h1 class="pcp-header">Backpacks Built for One Bag Living</h1>

    {% section 'cat-knackpacks-features-201905' %}
  </div>
  
  <div class="grid-container">
    <h1 class="pcp-header">Knack In the News</h1>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5 large-offset-1">
        <div class="itn-quotes">
          <p>The best backpack for when you don’t want to look like a backpacker.</p>
          <span><a href="https://www.fodors.com/news/style/this-is-the-best-backpack-for-when-you-only-need-a-backpack-but-dont-want-to-look-like-a-backpacker"><img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-fodorstravel.png?27871" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-fodorstravel_2x_8f0a0107-086e-443c-9689-13838b97a58a.png?27871 2x"></a></span>
        </div>
      </div>
      <div class="cell large-5">
        <div class="itn-quotes">
          <p>Comfortable, durable, versatile, and lots of space.</p>
          <span><a href="https://the-gadgeteer.com/2019/01/14/knack-pack-expandable-backpack-review/"><img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gadgeteer.png?27871" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gadgeteer_2x_1a375388-a9b3-4877-82fd-45fb695720be.png?27871 2x"></a></span>
        </div>
      </div>
      <div class="cell large-5 large-offset-1">
        <div class="itn-quotes">
          <p>The versatility of an everyday commuter bag with the convenience of a travel backpack.  It’s for the office worker who has an adventurous streak.</p>
          <span><a href="https://www.gearhungry.com/knack-large-expandable-knack-pack/"><img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gearhungry.png?27871" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-gearhungry_2x_36906ac8-6046-4507-b3a4-e0198e3e1df0.png?27871 2x"></a></span>
        </div>
      </div>
      <div class="cell large-5">
        <div class="itn-quotes">
          <p>It effectively combines a business bag and airline-compliant luggage. If you love traveling light and brilliant design, the Knack Bag is for you. </p>
          <span><a href="https://www.forbes.com/sites/nancyolson/2018/10/30/a-knack-for-packing-living-the-one-bag-life/#73c71084287d"><img src="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-forbes.png?27871" srcset="https://cdn.shopify.com/s/files/1/0023/8767/3149/files/logo-forbes_2x_b270f0a7-f2e1-4969-a60d-99b0f0be8cbf.png?27871 2x"></a></span>
        </div>
      </div>
    </div> 
  </div>

</div>
  {% include 'breadcrumbs' %}
  
  

</div>

<script text="text/javascript">
  var _learnq = _learnq || [];
  _learnq.push(['track', 'Viewed Category', 'Bags']);
</script>


<script>

  $(document).ready(function() {
    $('#showChart').click(function() {
      $('.toggle-container').slideToggle("medium");
    });
  });
  
  (function() {

    var loopFade = $(".loop-content");
    var loopIndex = -1;

    function showNextItem() {
      ++loopIndex;
      loopFade.eq(loopIndex % loopFade.length)
      .fadeIn(1000)
      .delay(5000)
      .fadeOut(1000, showNextItem);
    }

    showNextItem();


  })();
  
  (function() { 
    var loopTwoFade = $(".loop-quotes");
    var loopTwoIndex = -1;

    function showNextItem() {
      ++loopTwoIndex;
      loopTwoFade.eq(loopTwoIndex % loopTwoFade.length)
      .fadeIn(1000)
      .delay(2500)
      .fadeOut(1000, showNextItem);
    }

    showNextItem();
  })();
  
  var random = Math.floor(Math.random() * $('.lifestyle-block').length);
  $('.lifestyle-block').hide().eq(random).show();

  
</script>
