{% section 'product-template' %}

<div class="layout horizontal center mobile-stack page-width max-1300">
  
  <div class="flex">
  {% section 'product-video' %}
  </div>
  <div class="w-2 no-mobile"></div>
  <div class="flex">
  	{%- assign include_page_handle = 'feature-' | append: product.id -%}
    {%- assign include_page = pages[include_page_handle] -%}
    {% if include_page.title != blank %}
    <div> {{ include_page.content }}</div>
    {% endif %}
  </div>
</div>





{% section 'product-reviews' %}

{% section 'instagram' %}








<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    preorder: {{ 'products.product.preorder' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>

